<div id="footer1" style="margin-top: 32px;">Copyright all reserved © <span id="copyrightYear"></span>-future <a href="{{ blogBase['homeUrl'] }}">{{ blogBase['title'] }}</a><br>
<a href="https://www.790427.xyz/about.html">关于本站</a> |
<a href="https://www.790427.xyz/start.html">从这里开始</a> |
<a href="https://www.790427.xyz/subscribe.html">邮件订阅</a> |
<a href="{{ blogBase['xUrl'] }}" target="_blank" rel="noopener">X: {{ blogBase['xName'] }}</a> |
<a href="https://www.790427.xyz/terms-of-service.html">服务条款</a> |
<a href="https://www.790427.xyz/privacy-policy.html">隐私政策</a> |
<a href="https://www.790427.xyz/disclaimer.html">免责声明</a>
</div>
<div id="footer2">
    {%- if blogBase['filingNum']!='' -%}
    <span id="filingNum"><a href="https://beian.miit.gov.cn/" target="_blank">{{ blogBase['filingNum'] }}</a> • </span>
    {%- endif %}
    <span id="runday"></span><span>本站由<a href="mailto:service@790427.xyz" target="_blank"> 白来 </a>建立&维护</span>
</div>

<script>
var now=new Date();
document.getElementById("copyrightYear").innerHTML=now.getFullYear();

if("{{ blogBase['startSite'] }}"!=""){
    var startSite=new Date("{{ blogBase['startSite'] }}");
    var diff=now.getTime()-startSite.getTime();
    var diffDay=Math.floor(diff/(1000*60*60*24));
    document.getElementById("runday").innerHTML="{{ i18n['run'] }}"+diffDay+"{{ i18n['days'] }}"+" • ";
}
</script>
